In [1]:
import pandas as pd
people = {"first":["Christie", "Ian", "John", "Donald"],
          "last":["Bell", "Bell", "Smith", "Jones"],
          "email":["christie.bell@email.com", "ian.bell@email.com", "john.smith@email.com", "donald.jones@domain.com"]
        }

In [2]:
people_df = pd.DataFrame(people)

In [3]:
people_df.sort_values(by=['last', 'first'], ascending=[True, False]) # we can optionally pass inplace keyword arg to make this sort permanent

      first   last                    email
1       Ian   Bell       ian.bell@email.com
0  Christie   Bell  christie.bell@email.com
3    Donald  Jones  donald.jones@domain.com
2      John  Smith     john.smith@email.com

In [4]:
people_df['email'].sort_values() # sorting on a specific Series/Column

0    christie.bell@email.com
3    donald.jones@domain.com
1         ian.bell@email.com
2       john.smith@email.com
Name: email, dtype: object

In [5]:
people_df.sort_index()

      first   last                    email
0  Christie   Bell  christie.bell@email.com
1       Ian   Bell       ian.bell@email.com
2      John  Smith     john.smith@email.com
3    Donald  Jones  donald.jones@domain.com